---
layout: post-index
title: Personal Blog
description: "Student, hacker and a free culture advocate."
tags: [open source, free culture, hacking, artificial intelligence, cyber security]
comments: false
image:
    feature: abstract-1-3
---

<article class="hentry">
  <div class="entry-content">
    <p>I'm an Open Source Advocate with a huge passion for Artificial Intelligence and Cyber Security.
       I'm a Community Moderator at <a href="http://opensource.com" target="_blank">Opensource.com</a>.
       I love contributing to open source projects, mostly <a href="http://opensource.com/business/14/12/8-ways-contribute-open-source-without-writing-code" target="_blank">without writing code</a>.
       I've contributed to a couple of worldy-known open source projects such as <a href="https://reddit.com" target="_blank">Reddit</a>, <a href="https://elementary.io" target="_blank">elementary OS</a>, and the <a href="https://www.torproject.org/" target="_blank">Tor Project</a>.
       I'm writing content in both English and Bosnian language.
       So far (aside from this blog of course) I've written content for <a href="http://opensource.com/" target="_blank">Opensource.com</a>, <a href="http://kompjuteras.com/" target="_blank">Kompjuteraš</a> and <a href="https://libre.lugons.org/" target="_blank">LiBRE! magazine</a>.
    </p>
    <p><a href="/about">Learn more about me </a> or visit the <a href="/posts">post archive</a>.</p>
    <p>You can find me on: &nbsp
      <a href="https://github.com/aleksandar-todorovic" target="_blank"><i class="fa fa-github-square fa-2x"></i></a>&nbsp
      <a href="https://twitter.com/r3bl_" target="_blank"><i class="fa fa-twitter-square fa-2x"></i></a>&nbsp
      <a href="https://www.facebook.com/aleksandar.todorovic.r3bl" target="_blank"><i class="fa fa-facebook-square fa-2x"></i></a>&nbsp
      <a href="https://www.linkedin.com/in/aleksandartodorovic" target="_blank"><i class="fa fa-linkedin-square fa-2x"></i></a>&nbsp
      <a href="https://plus.google.com/117549842149032938678/" target="_blank"><i class="fa fa-google-plus-square fa-2x"></i></a>&nbsp
    </p>
    {% capture images %}
	     /images/gallery-1.jpg
       /images/gallery-2.jpg
       /images/gallery-3.jpg
    {% endcapture %}
    {% include gallery images=images caption="" cols=3 %}
  </div>
</article>

{% for post in paginator.posts %}
<article class="hentry">
  <header>
    <div class="entry-meta">
      <span class="entry-date date published updated"><time datetime="{{ post.date | date_to_xmlschema }}"><a href="{{ site.url }}{{ post.url }}">{{ post.date | date: "%B %d, %Y" }}</a></time></span><span class="author vcard"><span class="fn"><a href="{{ site.url }}/about/" title="About {{ site.owner.name }}">{{ site.owner.name }}</a></span></span>
      {% if site.reading_time %}
      <span class="entry-reading-time">
        <i class="fa fa-clock-o"></i>
        {% assign readtime = post.content | number_of_words | divided_by:site.words_per_minute %}
        Reading time ~{% if readtime <= 1 %}1 minute{% else %}{{ readtime }} minutes{% endif %}
      </span><!-- /.entry-reading-time -->
      {% endif %}
    </div><!-- /.entry-meta -->
    {% if post.link %}
      <h1 class="entry-title"><a href="{{ site.url }}{{ post.url }}" class="permalink" rel="bookmark" title="{{ post.title }}"><i class="fa fa-bookmark"></i></a> <a href="{{ post.link }}">{{ post.title }}</a></h1>
    {% else %}
      <h1 class="entry-title"><a href="{{ site.url }}{{ post.url }}" rel="bookmark" title="{{ post.title }}" itemprop="url">{{ post.title }}</a></h1>
    {% endif %}
  </header>
  <div class="entry-content">
    {{ post.content }}
  </div><!-- /.entry-content -->
</article><!-- /.hentry -->
{% endfor %}

<div class="pagination">
  {% if paginator.previous_page %}
    {% if paginator.previous_page == 1 %}
      <a href="{{ site.url }}" class="btn">Previous</a>
    {% else %}
      <a href="{{ site.url }}/page{{ paginator.previous_page }}" class="btn">Previous</a>
    {% endif %}
  {% else %}
    Previous
  {% endif %}
  <ul class="inline-list">
    <li>
      {% if paginator.page == 1 %}
        <span class="current-page">1</span>
      {% else %}
        <a href="{{ site.url }}">1</a>
      {% endif %}
    </li>
    {% for count in (2..paginator.total_pages) %}
      <li>
        {% if count == paginator.page %}
          <span class="current-page">{{ count }}</span>
        {% else %}
          <a href="{{ site.url }}/page{{ count }}">{{ count }}</a>
        {% endif %}
      </li>
    {% endfor %}
  </ul>
  {% if paginator.next_page %}
    <a href="{{ site.url }}/page{{ paginator.next_page }}" class="btn">Next</a>
  {% else %}
    Next
  {% endif %}
</div><!-- /.pagination -->
