<div class="read-more">
  <div class="read-more-header">
    <p class="btn">Random project that I like</p>
  </div><!-- /.read-more-header -->
  <div class="read-more-content">
    <script type="text/javascript">
      var relevant_en = ["creative-commons.png", "data-selfie.png", "duckduckgo.png", "eff.png", "firefox.png", "gitlab.png", "gnome.png", "internet-health-report.png", "investigative-dashboard.png", "lets-encrypt.png", "libreoffice.png", "mozilla.png", "nmap.png", "pocket.png", "signal.png", "t4vps.png", "tinfoil.png", "tor-project.png"];
      function getRandomImageEn(imgAr, path) {
        var num = Math.floor( Math.random() * imgAr.length );
        var img = imgAr[ num ];
        var url;
        switch (img)
        {
            case "creative-commons.png":
                url = "https://donate.creativecommons.org/";
                break;
            case "data-selfie.png":
                url = "http://dataselfie.it/";
                break;
            case "duckduckgo.png":
                url = "https://duckduckgo.com/about";
                break;
            case "eff.png":
                url = "https://www.eff.org/";
                break;
            case "firefox.png":
                url = "https://www.mozilla.org/en-US/firefox/new/";
                break;
            case "gitlab.png":
                url = "https://about.gitlab.com/";
                break;
            case "gnome.png":
                url = "https://www.gnome.org/";
                break;
            case "internet-health-report.png":
                url = "https://internethealthreport.org/";
                break;
            case "investigative-dashboard.png":
                url = "https://investigativedashboard.org/";
                break;
            case "lets-encrypt.png":
                url = "https://lets-encrypt.org/";
                break;
            case "libreoffice.png":
                url = "https://www.libreoffice.org/";
                break;
            case "mozilla.png":
                url = "https://www.mozilla.org/";
                break;
            case "nmap.png":
                url = "https://nmap.org/";
                break;
            case "pocket.png":
                url = "https://getpocket.com/";
                break;
            case "signal.png":
                url = "https://signal.org";
                break;
            case "t4vps.png":
                url = "https://billing.time4vps.eu/?affid=992";
                break;
            case "tinfoil.png":
                url = "https://tinfoil.press/";
                break;
            case "tor-project.org":
                url = "https://www.torproject.org/";
                break;
          }
          var imgStr = '<a href="' + url + '"><img src="{{ site.url }}/images/relevant/tinified/' + img + '"</a>';
          document.write(imgStr); document.close();
      }
    </script>
    <script type="text/javascript">getRandomImageEn(relevant_en, '{{ site.url }}/images/relevant/tinified/')</script>
    <div style="float: right; font-size: 1rem;"><a href="{{ site.url }}/en/relevant-content">Why am I seeing this?</a></div>
  </div>
</div>
