<div class="social-share">
    <ul class="socialcount inline-list">
        <li>Share on:</li>
        <li><a href="https://www.facebook.com/sharer/sharer.php?u={{ site.url }}{{ page.url }}" title="Share on Facebook"><i class="fa fa-facebook"></i>&nbsp Facebook</a></li>
        <li><a href="https://twitter.com/intent/tweet?text={{ site.url }}{{ page.url }}" title="Share on Twitter"><i class="fa fa-twitter-square"></i>&nbsp Twitter</a></li>
        <li><a href="https://plus.google.com/share?url={{ site.url }}{{ page.url }}" title="Share on Google+"><i class="fa fa-google-plus"></i>&nbsp Google+</a></li>
    </ul>
</div><!-- /.social-share -->
