<div class="social-share">


  <ul class="socialcount socialcount-small inline-list">

      <!-- Flattr -->
      <li class="flattr">
          <a href="https://flattr.com/submit/auto?user_id=r3bl&url=http%3A%2F%2Fr3bl.github.io" target="_blank">
              <img src="//api.flattr.com/button/flattr-badge-large.png" alt="Flattr this" title="Flattr this" border="0">
          </a>
      </li>

      <!-- Facebook -->
      <li class="facebook">
          <a href="https://www.facebook.com/sharer/sharer.php?u={{ site.url }}{{ page.url }}" title="Share on Facebook">
              <span class="count">
                  <i class="fa fa-facebook-square"></i> Like
              </span>
          </a>
      </li>

      <!-- Twitter -->
      <li class="twitter">
          <a href="https://twitter.com/share" class="twitter-share-button" data-via="r3bl_">Tweet</a>
          <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
      </li>

      <!-- Google+ -->
      <li class="googleplus">
            <a href="https://plus.google.com/share?url={{ site.url }}{{ page.url }}" title="Share on Google+">
                <span class="count">
                    <i class="fa fa-google-plus-square"></i> +1
                </span>
            </a>
        </li>

 </ul>

</div><!-- /.social-share -->
